.circle {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
    border: 9px solid rgb(49, 49, 49);
    position: fixed;
    left: 5%;
    top: 5%;
}

.palito {
    width: 10px;
    height: 50px;
    background-color:  rgb(49, 49, 49);
    position: fixed;
    top: 200px;
    left: calc(5% + 80px);
}

.circle2 {
    top: 30%;
}

.palito2 {
    top: 405px;
}

.circle3 {
    top:55%
}